* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    background-color: aliceblue;
}

.left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-div p {
    text-align: center;
    color: #787878;
}

.right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div ul {
    display: flex;
    margin-left: 5rem;
}

.right-div li {
    display: flex;
    list-style-type: none;
    margin-left: 5rem;
}

.right-div li:hover {
    color: lightblue;
}

@media (max-width: 768px) {
    .main-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .right-div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-left: 0;
    }
    .right-div li {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        align-items: center;
        align-content: center;
    }
}