.main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 150px;
    border: 1px solid black;
}

.card1 {
    background-image: url("/images/card1.PNG");
    background-size: cover;
}

.card2 {
    background-image: url("/images/card2.PNG");
    background-size: cover;
}

.card3 {
    background-image: url("/images/card3.PNG");
    background-size: cover;
}

.card4 {
    background-image: url("/images/card4.PNG");
    background-size: cover;
}

.card5 {
    background-image: url("/images/card5.PNG");
    background-size: cover;
}

.card6 {
    background-image: url("/images/card6.PNG");
    background-size: cover;
}

.card7 {
    background-image: url("/images/card7.PNG");
    background-size: cover;
}

.card8 {
    background-image: url("/images/card8.PNG");
    background-size: cover;
}

.card9 {
    background-image: url("/images/card9.PNG");
    background-size: cover;
}

.card10 {
    background-image: url("/images/card10.PNG");
    background-size: cover;
}

.card11 {
    background-image: url("/images/card11.PNG");
    background-size: cover;
}

.card12 {
    background-image: url("/images/card12.PNG");
    background-size: cover;
}

.card13 {
    background-image: url("/images/card13.PNG");
    background-size: cover;
}